{% extends 'index.html' %}
{%load static%}

<body>
    {%block content%}
        <div class="card" style="width: 18rem">
            {%if post.image%}
            <img src="{{post.image.url}}" class="card-img-top" alt="...">
            {%else%}
            <img src="{% static 'p.jpg' %}">
            {%endif%}
            <div class="card-body">
                <span><b>{{post.title}}</b></span>
                <p class="card-text">{{post.content}}</p>
            </div>
        </div>
    {%endblock%}
</body>